option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    SPRING_PROFILES_ACTIVE: production
    DDL_AUTO: update
    SHOW_SQL: false
    SQL_INIT_MODE: never
  
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public
  
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application
  
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: 'arn:aws:acm:REGION:ACCOUNT_ID:certificate/CERTIFICATE_ID'
    SSLPolicy: ELBSecurityPolicy-2016-08
